This packages should be downloaded before running this project.
These could be downloaded through pycharm or pip . For installing through command line-

pip install -m requirements.txt

numpy
matplotlib.pyplot
easygui
os
string
Pillow
itertools
tkinkter